@charset "utf-8";
*{
    margin:0;
    padding:0;
    list-style:none;
}

body  {
    font: 100% Verdana, Arial, Helvetica, sans-serif;
    background: #666666;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
}
.twoColHybLtHdr #container {
    width: 920px;
    background: #FFFFFF;
    margin: 0 auto;
    margin-left:auto;
    margin-right:auto;
    border: 1px radius #000000;
    text-align:left;   
} 
.twocolHybLtHdr #horizontal{
    background-color: #FFF;
    padding: 100px;

}
.twoColHybLtHdr #header {

    background-color: #FFF;
    background-image: url(../imagens/terno02.jpg);
    height: 150px;
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 10px;
    background-repeat: no-repeat;
} 
.twoColHybLtHdr #header h1 {
    margin: 0;
    padding: 10px 0;
}

.twoColHybLtHdr #header form {
    margin: 0;
    padding: 10px 0;
    background-color: #D9D336;
}


.twoColHybLtHdr #sidebar1 {
    float: left;
    width: auto;
    background-color: #FFF;
    padding-top: 0px;
    padding-right: 0;
    padding-bottom: 0px;
    padding-left: 0px;
    clear: left;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: 0px;
    border:groove;
}

.twoColHybLtHdr #sidebar1 h3, .twoColHybLtHdr #sidebar1 p {
    margin-left: 10px;
    margin-right: 10px;
}
ul#menutt{
    margin:0px;
    width:auto;
    list-style:none;
    background-color: #AF9F17;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: oblique;
    background-position: left top;
    height: auto;
    padding-left: 0px;
    left: 0px;
    text-align:center;
}

ul#menutt li{
    width:auto;
    list-style:none;
    text-align:center;
    position:relative;
    margin: auto;
    right: 0px;
    padding: 0px;
}

ul#menutt a{
    width:160px;
    display:block;
    text-align:left;
    padding:3px 3px;
    margin-bottom:1px;
    text-decoration:none;
    color:#000;
    background:#D9D336;
    border-left:12px solid #AF9F17;
    border-right:3px solid #AF9F17;
    voice-family:"\"}\"";
    voice-family:inherit;
    width:125px;
}
>#pagebody>ul#menutt a{
    width:125px;
}
/*Fix IE. Hide from IE Mac \*/
*html ul#menutt li {float:left; height:0%;}
* html ul#menutt li a{
    height:1%;
    margin: 1px;
}
/*End*/

ul#menutt a:hover{		
    color:#FFF;
    background:#5E6A1B;
    border-right:3px solid #B2B155;
    border-left:12px solid #B2B155;
}
ul#menutt a span{
    display:none;
}
ul#menutt a:hover span{
    display:block;
    position:absolute;
    top:0;
    left:160px;
    width:130px;
    padding:5px;
    margin-left:2px;
    color:#FFF;
    background:#474500;
    font-size:10px;
    text-align:left;
    border:1px solid #000;
}

.twoColHybLtHdr #mainContent {
    float:left;
    text-align:left;
    background-color: #FFF;
    width:680px;
    font-size:small;
    margin-top: 5px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 20px;

}

.nome{
    font-weight:bold;
    font-size:12px;
}

.preco{
    font-size:10px;
    color:blue;
}

.descricaoCurta{
    padding:10px;
    text-align:justify;
    font-size:11px;

}

.descricaoLonga{
    text-align:justify;
    padding:10px;
    font-size:12px;

}

.foto{   
    padding:5px;

}

.info{
    padding:        10px;
    font-size:      12px;
    color:          blue;
    font-weight:    bold;
    float:          right;
    width:          500px;
    text-align:     center;
}

.info p{
    color:black;
}

.twoColHybLtHdr #footer {
    padding: 0 10px;
    color: #000;
    background-color: #CC9933;
    clear:both;
} 
.twoColHybLtHdr #footer p {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}


.fltrt { 
    float: right;
    margin-left: 8px;
}
.fltlft { 
    float: left;
    margin-right: 8px;
}
.clearfloat { 
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

/* begin data grid style */
table.dataGrid
{
    background: white;
    border-collapse: collapse;
    width: 100%;
}

table.dataGrid th, table.dataGrid td
{
    font-size: 0.9em;
    border: 1px #CC9933 solid;
    padding: 0.3em;
}

table.dataGrid th
{
    background: #EEBB55;
    text-align: center;
}

table.dataGrid th.label
{
    width: 150px;
}

table.dataGrid tr.odd
{
    background: #FFFFDD;
}
/* end of data grid style */

.actionBar
{
    margin: 10px;
}

div.item
{
    margin: 10px 0 0 0;
    border: 1px solid silver;
    padding: 5px;
}

a img {
    border: 0px;
}

.produtoHome {
    text-align:     center;
    padding-bottom:30px;
}

.fotos {
    height:         210px;
}

.fotos ul, .fotos li {
    height:         200px;
}

.carouselNav button {
    margin:         0;
    padding:        0;
    border:         0;
    background:     transparent;
    font-size:      12px;
    font-weight:    bold;
}

.carouselNav button.active {
    color:          #888888;
}

#paginacao {
    text-align:     center;
}

.buscasRecentes {
    padding:        5px;
}

.buscasRecentes a:hover {
    text-decoration:underline;
}

.listaComentarios .comentario {
    border:         1px solid black;
    padding:        2px;
    margin:         5px;
}

.listaComentarios .comentario .data {
    text-align:     right;
    font-size:      10px;
    font-style:     italic;
}

.listaComentarios .comentario .acoes a {
    color:          blue;
    font-size:      10px;
}

.sugestaoProduto .preco {
    padding:        0px;
}

.comprar {
    font-size:      12px;
}

.comprar a {
    color:          #0000FF !important;
}

.clear {
    clear:          both;
    height:         0px;
    overflow:       hidden;
}

.carrinhoMenu {
    font-size:      12px;
}

.carrinhoMenu img {
    float:          left;
    margin-right:         3px;
}

.carrinhoMenu p {
    margin-top:         3px;
}

.produtoCarrinho td {
    font-size:          12px;
}

.carrinhoLinkFinalizar {
    text-align:     right;
    padding:        5px;
    font-size:      16px;
    font-weight:    bold;
}

.carrinhoLinkFinalizar a {
    color:          #0000FF !important;
}

.pedido tr th, .pedido tr td, .endereco tr th, .endereco tr td {
    font-size:      12px;
}

.pedido tr th, .endereco tr th {
    text-align:     right;
    padding:        4px;
    background:     #DDDDDD;
    border:         1px solid;
}

.pedido tr td, .endereco tr td {
    text-align:     left;
    padding:        4px;
    border:         1px solid;
}

.pedido .noStyle {
    padding:        0px;
    background:     none;
    border:         0;
}

.pedido .itens tr th {
    text-align:     center;
}

.pedido .itens tr th.alignRight {
    text-align:     right;
}